/**
vars for Echt
*/

$pink : pink;
$white: #fff;
$yellow : #FECF32;
$orange : #FEDA49;
$red : #ED3E02;


$bg-yellow : #FEFBED;

$black: #000;
$logo-black: #242424;


$bg-blue : #3C269A;
$bg-dark-blue : #374979;
$bg-hero : #374979;
$bg-email : #374979;
$bg-lite-yellow : #FEFAE9;
$bg-featured : #FEFAE9;
$text-dark-blue : #374979;
$footer-blue : #3C269A;

$blue : #3C269A;




$gray : #919191;


$base-image-path: "/assets/images/";
$base-font-path: "/assets/fonts/";




