.main-nav {

	// border: 1px solid black;

    padding-top: 20px;
    padding-bottom: 20px;

    .nav-logo {
    	h1{
    		display: none;
    		border: 1px solid $pink;
    	}
        width: 86px;
        height: 50px;
        display: inline-block;
        padding-top: 10px;
        // position: absolute;
        // top: 37px;
        // left: 30px;
        // z-index: 10;

        svg, img{
            width: 100%;
            max-width: 86px;
            height: auto;
            max-height: 50px;
        }

    }

    #nav-icon1 {
        z-index: 801;
        margin:0;
        left: 0;
        float: right;
    }
}